{% extends "layout-inner.html" %}

{% block content %}
<script>
var gslug='cheerleading-classes';
</script>
	<div id="main">


         
        <div id="content" role="main">

            <div class="content-bg"><div class="content-top"><div class="content-btm"><div class="content-in">

                <h2 class="entry-title">Camps</h2>

            

                



				<div id="post-5" class="post-5 page type-page status-publish hentry">

    

					<div class="entry-content" id="content">

						<h1 style="text-align: center;"><span style="color: #ffff00;"><b>Infinite B<a href="http://infinitebounds.com/wp-content/plugins/really-static/static/camps/rio_de_janeiro_2016_logo_3084/" rel="attachment wp-att-100306"><img class="wp-image-100306 alignleft" src="images/rio_de_janeiro_2016_logo_3084.gif" alt="rio_de_janeiro_2016_logo_3084" width="179" height="254" /></a>ounds</b><b> 201</b><b>6</b><b> “</b><b><i>Rio Olympics</i></b><b>” </b><b>SUMMER CAMP</b><b>! </b></span></h1>
<h2 style="text-align: center;"><span style="color: #ffff00;">Starts June 6th!</span></h2>
<h2 style="text-align: center;"><span style="color: #ff6600;">Ages 3 &#8211; 12 yrs</span></h2>
<h1 style="text-align: center;"></h1>
<h1 style="text-align: center;"><span style="color: #00ffff;"><b>Welcome to </b><b>Infinite Bounds</b><b> 201</b><b>6</b><b> </b></span></h1>
<p style="text-align: center;"><span style="color: #ffffff;"><span style="color: #000000;"><span style="color: #ffffff;"><span style="color: #00ffff;">This summer camp, is a special camp because we will be celebrating the SUMMER OLYMPICS!  Each camper will be <a style="color: #00ffff;" href="http://infinitebounds.com/wp-content/plugins/really-static/static/camps/rio-mascots/" rel="attachment wp-att-100304"><img class=" wp-image-100304 alignright" src="images/Rio-Mascots.png" alt="Rio Mascots" width="179" height="184" srcset="images/Rio-Mascots.png 388w, images/Rio-Mascots-290x300.png 290w" sizes="(max-width: 179px) 100vw, 179px" /></a>participating in fun Olympic style games each week!  IB has short, tall, long &amp; very bouncy trampolines to learn new skills!.  GYMNASTICS, RHYTHMIC GYMNASTICS, ACROBATIC FLIPS/TRAMPOLINES, TRACK, BASKETBALL, NERF TARGET SHOOTING and VOLLEYBALL&#8230;every fun game imaginable!  Infinite Bounds Campers will learn many flips on the trampolines, on our 54’ floor and our foam pit!  IB campers will learn many gymnastics skills at their level along with rhythmic gymnastics with balls and hoops!  Don’t forget our cool gladiator battle contest &amp; indoor water games!  Campers will learn about themselves &amp; how to play with friends with group participation.  IB camps will also have original crafts for each week and cool games to interact with our friends during our learning  experience!  Of course, we will always have time to play in our 35,000 square foot gymnastics center with all of the gymnastics activities.  Camp also includes free play with our 30’ foot air slides 50’ foam pit, with group games to finish our great day!  Infinite Bounds is very excited to bring to our campers, their very <a style="color: #00ffff;" href="http://infinitebounds.com/wp-content/plugins/really-static/static/camps/rio-archery/" rel="attachment wp-att-100300"><img class=" wp-image-100300 alignleft" src="images/Rio-Archery.png" alt="Rio - Archery" width="126" height="135" srcset="images/Rio-Archery.png 338w, images/Rio-Archery-280x300.png 280w" sizes="(max-width: 126px) 100vw, 126px" /></a>own movie room during our “stay &amp; play” times!  Each day our extended hour campers from   2-5 will be treated to a movie with snacks and of course &amp; more fun in the gym!  Campers will be grouped by age level each week!</span></span></span></span></p>
<h3 style="text-align: center;"><span style="color: #ffff00;"><a style="color: #ffff00;" href="images/Summer-Camp-Registration-Form-2.pdf">Schedule ~ Rates ~ Registration</a></span></h3>
<h3 style="text-align: center;"><span style="color: #ccffcc;"><a style="color: #ccffcc;" href="images/What-to-Bring-Summer-Camp.pdf">What to Bring &#8211; Summer Camp</a></span></h3>
<h2 style="text-align: center;"><span lang="en-US" style="font-size: 15pt; line-height: 125%; font-family: 'Comic Sans MS'; color: #ff6600;"> Camps are by season.  IB follows the Plano ISD calender for all breaks.<br />
</span></h2>
<p style="text-align: center;"><span style="color: #ff6600;"><!-- [if !mso]></p>




<style>
v\:* {behavior:url(#default#VML);}
o\:* {behavior:url(#default#VML);}
b\:* {behavior:url(#default#VML);}
.shape {behavior:url(#default#VML);}
</style>

<![endif]--></span></p>
<p style="text-align: center;"><span style="color: #ff6600;"><!-- [if pub]><xml>
<b:Publication type="OplPub" oty="68" oh="256">
<b:OhPrintBlock priv="30E">281</b:OhPrintBlock>
<b:DptlPageDimensions type="OplPt" priv="1211">
<b:Xl priv="104">7772400</b:Xl>
<b:Yl priv="204">10058400</b:Yl>
</b:DptlPageDimensions>
<b:OhGallery priv="180E">259</b:OhGallery>
<b:OhFancyBorders priv="190E">261</b:OhFancyBorders>
<b:OhCaptions priv="1A0E">257</b:OhCaptions>
<b:OhQuillDoc priv="200E">276</b:OhQuillDoc>
<b:OhMailMergeData priv="210E">262</b:OhMailMergeData>
<b:OhColorScheme priv="220E">279</b:OhColorScheme>
<b:DwNextUniqueOid priv="2304">1</b:DwNextUniqueOid>
<b:IdentGUID priv="2A07">0XE#?06W&lt;`$VC70W+E=:2%@</b:IdentGUID>
<b:DpgSpecial priv="2C03">5</b:DpgSpecial>
<b:CTimesEdited priv="3C04">1</b:CTimesEdited>
<b:NuDefaultUnitsEx priv="4104">0</b:NuDefaultUnitsEx>
<b:OhImpositionEngine priv="440E">285</b:OhImpositionEngine>
</b:Publication>
<b:PrinterInfo type="OplPrb" oty="75" oh="281">
<b:OhColorSepBlock priv="30E">282</b:OhColorSepBlock>
<b:OpmOutsidePrintMode priv="B04">1</b:OpmOutsidePrintMode>
<b:FInitComplete priv="1400">False</b:FInitComplete>
<b:DpiX priv="2203">0</b:DpiX>
<b:DpiY priv="2303">0</b:DpiY>
<b:DxlOverlap priv="2404">0</b:DxlOverlap>
<b:DylOverlap priv="2504">0</b:DylOverlap>
</b:PrinterInfo>
<b:ColorSeperationInfo type="OplCsb" oty="79" oh="282">
<b:Plates type="OplCsp" priv="214">
<b:OplCsp type="OplCsp" priv="11">
<b:EcpPlate type="OplEcp" priv="213">
<b:Color priv="104">-1</b:Color>
</b:EcpPlate>
</b:OplCsp>
</b:Plates>
<b:DzlOverprintMost priv="304">304800</b:DzlOverprintMost>
<b:CprOverprintMin priv="404">243</b:CprOverprintMin>
<b:FKeepawayTrap priv="700">True</b:FKeepawayTrap>
<b:CprTrapMin1 priv="904">128</b:CprTrapMin1>
<b:CprTrapMin2 priv="A04">77</b:CprTrapMin2>
<b:CprKeepawayMin priv="B04">255</b:CprKeepawayMin>
<b:DzlTrap priv="C04">3175</b:DzlTrap>
<b:DzlIndTrap priv="D04">3175</b:DzlIndTrap>
<b:PctCenterline priv="E04">70</b:PctCenterline>
<b:FMarksRegistration priv="F00">True</b:FMarksRegistration>
<b:FMarksJob priv="1000">True</b:FMarksJob>
<b:FMarksDensity priv="1100">True</b:FMarksDensity>
<b:FMarksColor priv="1200">True</b:FMarksColor>
<b:FLineScreenDefault priv="1300">True</b:FLineScreenDefault>
</b:ColorSeperationInfo>
<b:TextDocProperties type="OplDocq" oty="91" oh="276">
<b:OhPlcqsb priv="20E">278</b:OhPlcqsb>
<b:EcpSplitMenu type="OplEcp" priv="A13">
<b:Color>134217728</b:Color>
</b:EcpSplitMenu>
</b:TextDocProperties>
<b:ColorScheme type="OplSccm" oty="92" oh="279">
<b:Cecp priv="104">8</b:Cecp>
<b:Rgecp type="OplEcp" priv="214">
<b:OplEcp priv="F">Empty</b:OplEcp>
<b:OplEcp type="OplEcp" priv="111">
<b:Color>16711680</b:Color>
</b:OplEcp>
<b:OplEcp type="OplEcp" priv="211">
<b:Color>52479</b:Color>
</b:OplEcp>
<b:OplEcp type="OplEcp" priv="311">
<b:Color>26367</b:Color>
</b:OplEcp>
<b:OplEcp type="OplEcp" priv="411">
<b:Color>13421772</b:Color>
</b:OplEcp>
<b:OplEcp type="OplEcp" priv="511">
<b:Color>16737792</b:Color>
</b:OplEcp>
<b:OplEcp type="OplEcp" priv="611">
<b:Color>13382502</b:Color>
</b:OplEcp>
<b:OplEcp type="OplEcp" priv="711">
<b:Color>16777215</b:Color>
</b:OplEcp>
</b:Rgecp>
<b:SzSchemeName priv="618">Bluebird</b:SzSchemeName>
</b:ColorScheme>
<![if pub11]>
<![endif]>
</xml><![endif]--><!-- [if pub]><xml>
<b:Page type="OplPd" oty="67" oh="265">
<b:PtlvOrigin type="OplPt" priv="511">
<b:Xl>22860000</b:Xl>
<b:Yl>22860000</b:Yl>
</b:PtlvOrigin>
<b:Oid priv="605">(`@`````````</b:Oid>
<b:OhoplWebPageProps priv="90E">266</b:OhoplWebPageProps>
<b:OhpdMaster priv="D0D">263</b:OhpdMaster>
<b:PgtType priv="1004">5</b:PgtType>
<b:PtlvOriginEx type="OplPt" priv="1111">
<b:Xl>110185200</b:Xl>
<b:Yl>110185200</b:Yl>
</b:PtlvOriginEx>
</b:Page>
</xml><![endif]--><!-- [if gte mso 9]><xml>
<o:shapedefaults v:ext="edit" spidmax="3075" fill="f" fillcolor="white [7]" strokecolor="black [0]">
<v:fill color="white [7]" color2="white [7]" on="f"/>
<v:stroke color="black [0]" color2="white [7]">
<o:left v:ext="view" color="black [0]" color2="white [7]"/>
<o:top v:ext="view" color="black [0]" color2="white [7]"/>
<o:right v:ext="view" color="black [0]" color2="white [7]"/>
<o:bottom v:ext="view" color="black [0]" color2="white [7]"/>
<o:column v:ext="view" color="black [0]" color2="white [7]"/>
</v:stroke>
<v:shadow color="#ccc [4]"/>
<v:textbox inset="2.88pt,2.88pt,2.88pt,2.88pt"/>
<o:colormenu v:ext="edit" fillcolor="blue [1]" strokecolor="black [0]" shadowcolor="#ccc [4]"/>
</o:shapedefaults><o:shapelayout v:ext="edit">
<o:idmap v:ext="edit" data="1"/>
</o:shapelayout></xml><![endif]--></span></p>
<h4 style="text-align: center;"><span style="color: #ff6600;">For More information please contact: 972-491-1916</span><br />
<span style="color: #ff6600;"> or Email us at: <a style="color: #ff6600;" href="mailto:accounting@infinitebounds.co">accounting@infinitebounds.co</a></span><br />
<span style="color: #ff6600;"> Schedule is subject to change</span></h4>
											</div><!-- .entry-content -->

				</div><!-- #post-## -->



            </div></div></div></div>

        </div><!-- #content -->








	  {% include 'sidebar.html' %}



	</div><!-- #main -->

{% endblock %}
