{% extends "layout-inner.html" %}

{% block content %}
	<div id="main">


        <div id="content" role="main">

            <div class="content-bg"><div class="content-top"><div class="content-btm"><div class="content-in">

                <h2 class="entry-title">Birthday Parties</h2>

            

                



				<div id="post-79" class="post-79 page type-page status-publish has-post-thumbnail hentry">

    

					<div class="entry-content">

						<p style="text-align: left;"><a href="images/birthday2.jpg"><img class="size-medium wp-image-494 alignright" src="images/birthday2-300x199.jpg" alt="birthday2" width="307" height="204" srcset="images/birthday2-300x199.jpg 300w, images/birthday2.jpg 425w" sizes="(max-width: 307px) 100vw, 307px" /></a><strong>It&#8217;s your Birthday Party at Infinite Bounds!  </strong>We would love the honor of hosting one of the <strong>MOST</strong> important days of the year&#8230;<strong><em>Your Child&#8217;s Birthday Party!</em></strong></p>
<p style="text-align: left;">We do our best to make your party memorable by instructing your child and<br />
their friends in the many aspects of gymnastics. Kids have a fun-filled 90 min. of instructional games, jumping, climbing. sliding and rolling.</p>
<h2 style="text-align: left;">Our party package includes:</h2>
<p style="text-align: left;">1- hour of instructional activities, including obstacle course,<br />
rope climbing, trampoline, jumping and group games</p>
<p style="text-align: left;">30 minutes of time for refreshments and presents</p>
<p style="text-align: left;">Certified gymnastic instructors</p>
<p style="text-align: left;">Personal party coordinator so you too can enjoy your child&#8217;s party without the stress!!<br />
Just sit back, relax! The only thing to worry about when you arrive is what pictures to take!</p>
<h2 style="text-align: left;">How much does it cost?<a href="images/gym1.jpg"><img class="size-medium wp-image-531 alignright" src="images/gym1-300x224.jpg" alt="gym1" width="300" height="224" srcset="images/gym1-300x224.jpg 300w, images/gym1.jpg 640w" sizes="(max-width: 300px) 100vw, 300px" /></a> <a href="images/gym1b.jpg"><img class="size-medium wp-image-532" src="images/gym1b-300x224.jpg" alt="gym1b" width="300" height="224" srcset="images/gym1b-300x224.jpg 300w, images/gym1b.jpg 640w" sizes="(max-width: 300px) 100vw, 300px" /></a></h2>
<p style="text-align: left;">1-20 Guests: $225.00</p>
<p style="text-align: left;">21-30 Guests: $250.00</p>
<p style="text-align: left;">31 &amp; Up: Call for Quote</p>
<p style="text-align: left;">$150.00 is due at the time of booking. The balance is due on the date of the party, so you will only be charged for the guests that attend.</p>
<p style="text-align: left;">Payment can be refunded if cancelled within 48 hours of booking. After that time, you may only reschedule your date and/or time with a $90.00 rescheduling fee.</p>
<h2 style="text-align: left;">Parties &#8211; Days and Times Available<a href="images/pno.png"><img class="size-medium wp-image-565 alignright" src="images/pno-231x300.png" alt="pno" width="160" height="208" srcset="images/pno-231x300.png 231w, images/pno-791x1024.png 791w, images/pno.png 1275w" sizes="(max-width: 160px) 100vw, 160px" /></a></h2>
<h4 style="text-align: left;">Saturdays and Sundays</h4>
<p style="text-align: left;">1:45-3:15<br />
3:00-4:30<br />
4:15-5:45<br />
5:30-7:00</p>
<h4 style="text-align: left;"><a href="images/Contract.pdf" target="_blank"><span style="text-decoration: underline;">&gt;&gt;&gt;CLICK HERE</span></a> to download the sign up form.</h4>
<p style="text-align: left;">For More information please contact: 972-491-1916<br />
or Email us at: <a href="mailto:accounting@infinitebounds.co">accounting@infinitebounds.co</a></p>
<p style="text-align: left;">Schedule is subject to change</p>
											</div><!-- .entry-content -->

				</div><!-- #post-## -->



            </div></div></div></div>

        </div><!-- #content -->






	  {% include 'sidebar.html' %}



	</div><!-- #main -->

{% endblock %}
