{% extends "layout-inner.html" %}

{% block content %}
<script>
var gslug='competitive-cheerleading';
</script>
	<div id="main">


         
<div id="content" role="main">

            <div class="content-bg"><div class="content-top"><div class="content-btm"><div class="content-in">

                 <h2 class="entry-title" id="title"></h2>

            

                



				<div id="post-170" class="post-170 page type-page status-publish hentry">

    

				<div class="entry-content" id="content_data">

						<h4 style="text-align: center;"><a href="images/cheer.jpg"><img class="wp-image-382 alignright" alt="cheer" src="images/cheer-1024x737.jpg" width="354" height="254" srcset="images/cheer-1024x737.jpg 1024w, images/cheer-300x216.jpg 300w, images/cheer.jpg 1284w" sizes="(max-width: 354px) 100vw, 354px" /></a>Welcome to IB Cheer</h4>
<h4 style="text-align: center;">Southern National Champions 2014!</h4>
<p>IB has started our 2014 walk on tryouts!  If you have no tumbling skills&#8230;cheerleader experience, no worries! IB has non-competitive teams available to level 4!  Email us at brian@infinitebounds.co to set up a time to come and watch!</p>
<p>At the IB Training Center you’ll receive the best available facilities, staff, and training equipment.  Show Teams up to Level 4&#8230;everyone fits!</p>
<h1>Competitive Cheerleading</h1>
<p>IB has over 40,000 square feet of space, making us one of the the largest private kid’s sports centers in North Texas. IB Cheer members have one of the finest training facilities staffed with talented coaches who are supported by a strong organization.</p>
<p>The coaching staff’s mission is to offer the best technical training, to provide the most innovative choreography, and to teach kids to always strive to be their best in a supportive atmosphere. IB Cheer teaches kids to be exceptional cheerleaders, but most importantly, IB Cheer teaches kids to be exceptional people.</p>
<p>Focusing on squad work, integrity and structured safe workouts, IB Cheer members learn how to<br />
encourage one another while building their own self-confidence.</p>
<p>IB Cheer also offers classes for those just wanting to learn cheer skills<br />
and tumbling all the way through all-star levels.</p>
<h4><a href="images/Cheer-Poster.jpg"><img class="size-medium wp-image-99839 aligncenter" alt="Cheer Poster" src="images/Cheer-Poster-231x300.jpg" width="339" height="440" /></a></h4>
<h4></h4>
<h4>Cost Sensitive?</h4>
<p>IB Cheer offers IB All-Star Prep Cheer.<br />
See &#8220;Rec Cheer &amp; Tumbling&#8221; for more information</p>
<p>These are lower cost and are a great choice for those that either on a budget or for those that just what to try competitive cheerleading without the traveling involved in the All-star program.</p>
<h4>Want the Full Cheer Experience?</h4>
<p>IB Cheer All-stars are a great choice for those that want the best cheerleading has to offer.<br />
Our highly respected staff will help you and your child enjoy competitive cheer at the highest levels.<br />
This program is for boys and girls ages 4 to 19.</p>
<h4><a href="http://infinitebounds.com/wp-content/plugins/really-static/static/forms"><br />
&gt;&gt;&gt;CLICK HERE</a> to download the registration form.</h4>
<h4><a href="http://infinitebounds.com/wp-content/plugins/really-static/static/private-cheer">&gt;&gt;&gt;CLICK HERE</a> to access your private cheer page</h4>
<p>For More information please contact: 972-491-1916<br />
or Email us at: <a href="mailto:accounting@infinitebounds.co">accounting@infinitebounds.co</a></p>
<p>Schedule is subject to change</p>
											</div><!-- .entry-content -->

				</div><!-- #post-## -->



            </div></div></div></div>

        </div><!-- #content -->







	  {% include 'sidebar.html' %}



	</div><!-- #main -->

{% endblock %}
