{% extends "layout-inner.html" %}

{% block content %}
<script>
var gslug='competitive-trampoline';
</script>
	<div id="main">

<div  role="main">

            <div class="content-bg"><div class="content-top"><div class="content-btm"><div class="content-in">

                <h2 class="entry-title" id="title">Competitive Trampoline</h2>

            

                



				<div id="post-189" class="post-189 page type-page status-publish hentry">

    

					<div class="entry-content" id="content_data">

						
					</div><!-- .entry-content -->

				</div><!-- #post-## -->



            </div></div></div></div>

        </div><!-- #content -->









	  {% include 'sidebar.html' %}



	</div><!-- #main -->

{% endblock %}
