{% extends "layout-inner.html" %}

{% block content %}
<script>
var gslug='competitive-gymnastics';
</script>
	<div id="main">


         
<div id="content" role="main">

            <div class="content-bg"><div class="content-top"><div class="content-btm"><div class="content-in">

                <h2 class="entry-title">Competitive Gymnastics</h2>

            

                



				<div id="post-168" class="post-168 page type-page status-publish hentry">

    

					<div class="entry-content" id="content">

						<h1 style="text-align: center;"><span style="font-size: 13px;">Gymnastics in Plano! </span></h1>
<p style="text-align: justify;">Infinite Bounds is a proud family business serving Plano since 1993.  Levels of gymnastics range from non-competitive team <a href="images/bars1.jpg"><img class="size-medium wp-image-478 alignright" src="images/bars1-169x300.jpg" alt="bars1" width="86" height="149" /></a>programs, Xcel, USA programs Level 1-10 &amp; Elite.  All team programs here at IB are trained by coaches who have USA qualifications set by the Junior Olympic Committee. Owner and director of IB team is Brian K. Simmons. Brian has been involved with gymnastics for over 40 years both as an athlete of gymnastics and as a competitive team coach as well. Brian studied at the University of Stephen F. Austin in Child Psychology &amp; Physical Education.  Brian also has had the privilege to work and train under the supervision of the former Olympic Coach, Bella Karoli.  Many titles have come with so many years of training gymnast such as Jr. Olympic Champions and National Champions.  Brian has helped many of former gymnast at IB receive full gymnastics scholarships all over the USA.</p>
<p style="text-align: left;"><span style="color: #000000;"><strong>Competitive Team Coaches:</strong></span></p>
<p style="text-align: center;"> <strong>David Harris:</strong></p>
<p style="text-align: justify;">David has an Associate of Science degree from the University of North Texas.  David has over 21 years of experience coaching gymnastics &amp; is proud to have been involved with many State, Regional Championships in the sport of gymnastics.</p>
<p style="text-align: center;"><strong>David Lewis:  </strong></p>
<p style="text-align: justify;">David has been coaching the sport of gymnastics for over 32 years.  David has earned his Bachelor&#8217;s degree in Physical Education from Belhaven college in Jackson, Mississippi.  He has coached Local, State, Regional &amp; National champions, Level 5-10. David also coached Elite levels of gymnastics 1998 &amp; 2004. David has been involved with helping many of his gymnast achieve full gymnastics scholarship to various colleges through out his career.  With such a busy schedule, David also attended the International training center in Moscow, Russia where I met my wife, Coach Wanda. Along with so many accomplishments, he has been a Technical clinician for the Brazilian gymnastics federation (1993,1994,2004 and 2009)</p>
<div style="text-align: center;"><strong>Diana Lewis:  </strong></div>
<div style="text-align: center;"></div>
<div>Diana was born and raised as a true Dallas Texan!  Diana has been coaching for over 17 years and was a former gymnast most of her youth.  Diana trained as high as level 10, where she received 2 State titles. Along with achieving State titles in gymnastics, Diana also was an NCA All-American cheerleader.  Diana attended the University of North Texas working on her bachelor in Marketing with a minor in Hospitality.  Coaching for over 17 years, Diana achieved Local, State &amp; Regional Championships! In 2003, Diana attended an elite training camp in Colorado. .</div>
<div>.</div>
<div style="text-align: center;"><strong>Wanda Lewis:  </strong></div>
<div style="text-align: center;">.</div>
<div style="text-align: justify;">Wanda (pronounced Vanda) is from Canada where she received a Bachelor&#8217;s degree in Sport and Recreation from Concordia University in Montreal.  Wanda has over 28 years experience in gymnastics with State &amp; Regional Championships.  Wanda also has been involved in many full gymnastics scholarships for her former gymnast through out her coaching career. She has attended the International training center in Moscow, Russia where she also met her husband, Coach David.  Wanda has been a Technical clinician for the Brazilian gymnastics federation in 2009 &amp; a Junior Elite gymnast for 2 years in Quebec.</div>
<div>.</div>
<p style="text-align: center;"><strong>Tabitha McCallister:</strong></p>
<p style="text-align: justify;">Tabitha has been with IB for over 19 years &amp; is the director of our Xcel program along with IB developmental programs.  Tabitha graduated from University of Texas at Arlington with a BS in Exercise Physiology.  Tabitha has many State Championships here at IB.</p>
<p style="text-align: center;"><strong>Almir Tagliari:  </strong></p>
<p style="text-align: justify;">Almir (Piti) has been<strong> </strong>coaching gymnastics for over 34 years.  Piti is the Competitive Boys Team Coach here at IB.  Receiving a Bachelor&#8217;s degree in Physical Education from the University of Passo Fundo, Brazil.  Piti also received a scholarship from the University of Passo, Fundo, Brazil in the sport of gymnastics.  Being a Physical educational teacher for over 13 years has kept Piti very busy but still found time to coach State, Regional and National Champions along with getting a Artistic gymnastics Latu Sensu degree, in Rio de Janeiro, Brazil.</p>
<div style="text-align: center;"><strong> Britni Wilkinson:  </strong></div>
<div style="text-align: center;">.</div>
<div style="text-align: justify;">Britni is originally from Memphis, TN but has been a true Texan most of her life!  Britni was a former gymnast as a level 10 here in Plano.  Britni had the privilege to train with some of the best gymnast such as Nastia and Carly Patterson along with traveling to Switzerland to train with the Swiss National Team.  Britni has an intense background in dance &amp; Taekwondo!  Going on 5 years of coaching, Britni also has a Bachelors of Science in Kinesiology.  In her spare time from teaching gymnast, Britni is working towards her Master&#8217;s in Exercise Physiology at TWU, graduating in May of 2016!</div>
<div style="text-align: justify;">.</div>
<div style="text-align: center;"> <strong>Gabe Devoto:</strong></div>
<div style="text-align: center;">
<p style="text-align: justify;">Gabriel has seven years of coaching experience that began after his eight years as a competitive gymnast. Gabriel trained as a level 10 gymnast and competed in national meets. He is earning his major in Finance and minor in Accounting from the University of Texas at Dallas. After graduation, Gabriel plans on attending the NBA program at his University to earn a Masters degree. Gabriel’s love for gymnastics is the driving force of his coaching style, which balances technique, execution, and fun for all his gymnasts. He is proud to be coaching at Infinite Bounds.</p>
</div>
<div style="text-align: justify;"><strong>For More information please contact: 972-491-1916</strong></div>
<p style="text-align: left;">or Email us at: <a href="mailto:accounting@infinitebounds.co">accounting@infinitebounds.co</a></p>
<p style="text-align: left;">Infinite Bounds also has a competitive gymnastics team web site hosted by IB Parent Club if you are looking for more detailed information at <a href="http://www.ibteam.org/">http://www.ibteam.org/</a></p>
											</div><!-- .entry-content -->

				</div><!-- #post-## -->



            </div></div></div></div>

        </div><!-- #content -->








	  {% include 'sidebar.html' %}



	</div><!-- #main -->

{% endblock %}
