{% extends "layout-inner.html" %}

{% block content %}
	<div id="main">


         <div id="content" role="main">

            <div class="content-bg"><div class="content-top"><div class="content-btm"><div class="content-in">

                <h2 class="entry-title">Trampoline Classes</h2>

            

                



				<div id="post-162" class="post-162 page type-page status-publish hentry">

    

					<div class="entry-content">

						<h1>Trampoline Classes</h1>
<h3>Double Mini Trampoline:<a href="images/Tumbling-Slider.png"><img class="size-medium wp-image-360 alignright" alt="Tumbling-Slider" src="images/Tumbling-Slider-300x152.png" width="300" height="152" srcset="http://infinitebounds.com/wp-content/uploads/2013/10/Tumbling-Slider-300x152.png 300w, http://infinitebounds.com/wp-content/uploads/2013/10/Tumbling-Slider.png 531w" sizes="(max-width: 300px) 100vw, 300px" /></a></h3>
<p>The double mini trampoline is a small, two level trampoline. Athletes run toward the double mini trampoline and jump onto the apparatus, perform a skill on both zones of the double mini, and then and on a mat. Skills are similar to those on trampoline, except there is lateral movement. Double mini is the same concept as a diving board but without the water.</p>
<h3>Trampoline:</h3>
<p>A competition trampoline is 14 ft. by 7 ft. and much more powerful than a backyard trampoline, propelling top level trampolinist as high as 30 ft. in the air while performing double and triple twisting flips. A trampoline routine consists of 10 skills, with the difficulty depending on the level of the athlete. Trampoline has been Olympic sport since 2000.</p>
<h4><a href="http://infinitebounds.com/wp-content/plugins/really-static/static/forms">&gt;&gt;&gt;CLICK HERE</a> to download the registration form.</h4>
<h4><a href="http://infinitebounds.com/wp-content/plugins/really-static/static/schedule">&gt;&gt;&gt;CLICK HERE</a> to view the class schedule.</h4>
<p>For More information please contact: 972-491-1916<br />
or Email us at: <a href="mailto:accounting@infinitebounds.co">accounting@infinitebounds.co</a></p>
<p>&nbsp;</p>
<p>Schedule is subject to change</p>
											</div><!-- .entry-content -->

				</div><!-- #post-## -->



            </div></div></div></div>

        </div><!-- #content -->






	  {% include 'sidebar.html' %}



	</div><!-- #main -->

{% endblock %}
