{% extends "layout-inner.html" %}

{% block content %}
	<div id="main">


        <div id="content" role="main">

            <div class="content-bg"><div class="content-top"><div class="content-btm"><div class="content-in">

                <h2 class="entry-title">Fundraisers</h2>

            

                



				<div id="post-199" class="post-199 page type-page status-publish hentry">

    

					<div class="entry-content">

						<p>Have a youth church looking for a fun way to raise money?  How about your PTA or School Cheer?  IB is proud to announce that we have helped many of fundraising groups get the job done and had fun doing it.  Give us a call or email us for more information!</p>
<p><a href="http://infinitebounds.com/wp-content/plugins/really-static/static/fundraisers/ptafunnight/" rel="attachment wp-att-100248"><img class="size-large wp-image-100248 aligncenter" src="images/ptafunnight-791x1024.jpg" alt="ptafunnight" width="640" height="829" srcset="images/ptafunnight-791x1024.jpg 791w, images/ptafunnight-232x300.jpg 232w, images/ptafunnight-768x994.jpg 768w, images/ptafunnight.jpg 1275w" sizes="(max-width: 640px) 100vw, 640px" /></a></p>
											</div><!-- .entry-content -->

				</div><!-- #post-## -->



            </div></div></div></div>

        </div><!-- #content -->






	  {% include 'sidebar.html' %}



	</div><!-- #main -->

{% endblock %}
