{% extends "layout-inner.html" %}

{% block content %}
	<div id="main">


         

        <div id="content" role="main">

            <div class="content-bg"><div class="content-top"><div class="content-btm"><div class="content-in">

                <h2 class="entry-title">Gymnastics Classes</h2>

            

                



				<div id="post-166" class="post-166 page type-page status-publish hentry">

    

					<div class="entry-content">

						<p>Gymnastics in Plano!  Infinite Bounds gymnastics program offers a fun way to get your child active, athletic and focused along with self esteem <a href="images/bridge.png"><img class="size-medium wp-image-503 alignright" src="images/bridge-300x297.png" alt="bridge" width="176" height="174" srcset="images/bridge-300x297.png 300w, images/bridge-1024x1016.png 1024w, images/bridge.png 1057w" sizes="(max-width: 176px) 100vw, 176px" /></a>building.  We offer multiple classes for children of all ages and skill levels. Girls &amp; Boys progress through level 1 – 10 skills levels which is designated with a star badge program.</p>
<h1>Gymnastics Classes</h1>
<p>All classes are one hour and include a warm-up, rotations on beam, vault, bars, floor and trampoline and end!  Each gymnast will wear a leotard or shorts and IB t-shirt that will be used as their star badge accomplishments.</p>
<h2><strong>Tiny Tots</strong>  ages 3-4yr</h2>
<p>IB teaches basic motor skills of gymnastics but also try to emphasize achievement of small goals that will build self-confidence. Children learn appreciation for themselves, for their accomplishments and for the sport of gymnastics. (Must be potty trained)  All apparatus will be used, vault, bars, beam and floor along with trampoline.</p>
<p>Tumble Bears ages 4-5yr  IB teaches basic motor skills of gymnastics, but we also try to emphasize achievement of small goals that will build self-confidence. Children learn appreciation for themselves, for their accomplishments and for the sport of gymnastics.  All apparatus will be used, vault, bars, beam and floor along with trampoline.</p>
<h2><strong>Beginner to Advanced</strong> ages 5-up :<a href="images/gym1.jpg"><img class="size-medium wp-image-531 alignleft" src="images/gym1-300x224.jpg" alt="gym1" width="187" height="140" srcset="images/gym1-300x224.jpg 300w, images/gym1.jpg 640w" sizes="(max-width: 187px) 100vw, 187px" /></a></h2>
<p>All levels of gymnastics taught at Infinite Bounds, will follow the USAG Federation rules and guidelines for proper progressions that will lead to more advanced levels. Students will begin at level I and have the opportunity to excel to level X. Monthly testing and bimonthly progress charts will be offered to help students and parents follow their progress. We also provide an end-of-the-year extravaganza where the students are involved in a production for the parents.  All apparatus will be used, vault, bars, beam and floor along with trampoline.</p>
<p>Want more?  IB also has pre-team gymnastics programs along with high competitive programs…give us a call to set up a time to come and see what these programs are all about.</p>
<h2>Tumbling program:<a href="images/gym1b.jpg"><img class="size-medium wp-image-532 alignleft" src="images/gym1b-300x224.jpg" alt="gym1b" width="187" height="136" /></a></h2>
<p>Want to learn the basics to advanced tumbling?  IB is proud to announce that our tumbling program we offer is one of the top programs in the Dallas area.  Tumblers come all over the Dallas area to be trained by our top coaches.  IB offers all tumbling levels from forward rolls and cartwheels to the most complex advanced tumbling routines.  You fit anywhere in this program.  Cheerleading skills and jumps along with required tumbling passes are also trained in IB’s tumbling program.</p>
<p><a href="http://infinitebounds.com/wp-content/plugins/really-static/static/forms">&gt;&gt;&gt;CLICK HERE</a> to download the registration form &amp; prices!</p>
<h4><a href="http://infinitebounds.com/wp-content/plugins/really-static/static/schedule">&gt;&gt;&gt;CLICK HERE</a> to view the class schedule.</h4>
<table border="0" width="8" cellspacing="0" cellpadding="0">
<tbody>
<tr style="mso-height-source: userset; height: 30.6pt;">
<td style="border-bottom: .5pt solid black; height: 50.55pt; width: 564pt;" colspan="6" rowspan="2" align="left" valign="top" width="750" height="67"></td>
</tr>
<tr style="mso-height-source: userset; height: 19.95pt;">
<td class="xl66" style="height: 19.95pt; border-top: none;" height="26"></td>
<td class="xl66" style="border-top: none; border-left: none;"></td>
<td class="xl66" style="border-top: none; border-left: none;"></td>
<td class="xl66" style="border-top: none; border-left: none;"></td>
<td class="xl66" style="border-top: none; border-left: none;"></td>
<td class="xl66" style="border-top: none; border-left: none;"></td>
</tr>
<tr style="mso-height-source: userset; height: 19.95pt;">
<td class="xl64" style="height: 19.95pt; border-top: none; width: 94pt;" width="125" height="26"></td>
<td class="xl64" style="border-top: none; border-left: none; width: 94pt;" width="125"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
<td class="xl64" style="border-top: none; border-left: none; width: 94pt;" width="125"></td>
</tr>
<tr style="mso-height-source: userset; height: 19.95pt;">
<td class="xl67" style="height: 19.95pt; border-top: none; width: 94pt;" width="125" height="26"></td>
<td class="xl68" style="border-top: none; border-left: none;"></td>
<td class="xl67" style="border-top: none; border-left: none; width: 94pt;" width="125"></td>
<td class="xl67" style="border-top: none; border-left: none; width: 94pt;" width="125"></td>
<td class="xl68" style="border-top: none; border-left: none;"></td>
<td class="xl67" style="border-top: none; border-left: none; width: 94pt;" width="125"></td>
</tr>
<tr style="mso-height-source: userset; height: 19.95pt;">
<td class="xl65" style="height: 19.95pt; border-top: none;" height="26"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
<td class="xl64" style="border-top: none; border-left: none; width: 94pt;" width="125"></td>
</tr>
<tr style="mso-height-source: userset; height: 19.95pt;">
<td class="xl67" style="height: 19.95pt; border-top: none; width: 94pt;" width="125" height="26"></td>
<td class="xl68" style="border-top: none; border-left: none;"></td>
<td class="xl68" style="border-top: none; border-left: none;"></td>
<td class="xl68" style="border-top: none; border-left: none;"></td>
<td class="xl68" style="border-top: none; border-left: none;"></td>
<td class="xl68" style="border-top: none; border-left: none;"></td>
</tr>
<tr style="mso-height-source: userset; height: 19.95pt;">
<td class="xl65" style="height: 19.95pt; border-top: none;" height="26"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
</tr>
<tr style="mso-height-source: userset; height: 13.05pt;">
<td class="xl69" style="height: 13.05pt;" colspan="6" height="17"></td>
</tr>
<tr style="mso-height-source: userset; height: 21.0pt;">
<td class="xl66" style="height: 21.0pt; border-top: none;" height="28"></td>
<td class="xl66" style="border-top: none; border-left: none;"></td>
<td class="xl66" style="border-top: none; border-left: none;"></td>
<td class="xl66" style="border-top: none; border-left: none;"></td>
<td class="xl66" style="border-top: none; border-left: none;"></td>
<td class="xl66" style="border-top: none; border-left: none;"></td>
</tr>
<tr style="mso-height-source: userset; height: 21.0pt;">
<td class="xl64" style="height: 21.0pt; border-top: none; width: 94pt;" width="125" height="28"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
</tr>
<tr style="mso-height-source: userset; height: 21.0pt;">
<td class="xl67" style="height: 21.0pt; border-top: none; width: 94pt;" width="125" height="28"></td>
<td class="xl68" style="border-top: none; border-left: none;"></td>
<td class="xl68" style="border-top: none; border-left: none;"></td>
<td class="xl68" style="border-top: none; border-left: none;"></td>
<td class="xl68" style="border-top: none; border-left: none;"></td>
<td class="xl64" style="border-top: none; width: 94pt;" rowspan="2" width="125"></td>
</tr>
<tr style="mso-height-source: userset; height: 21.0pt;">
<td class="xl65" style="height: 21.0pt; border-top: none;" height="28"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
</tr>
<tr style="mso-height-source: userset; height: 21.0pt;">
<td class="xl68" style="height: 21.0pt; border-top: none;" height="28"></td>
<td class="xl68" style="border-top: none; border-left: none;"></td>
<td class="xl67" style="border-top: none; border-left: none; width: 94pt;" width="125"></td>
<td class="xl67" style="border-top: none; border-left: none; width: 94pt;" width="125"></td>
<td class="xl68" style="border-top: none; border-left: none;"></td>
<td class="xl68" style="border-top: none; border-left: none;"></td>
</tr>
<tr style="mso-height-source: userset; height: 21.0pt;">
<td class="xl65" style="height: 21.0pt; border-top: none;" height="28"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
</tr>
<tr style="mso-height-source: userset; height: 13.05pt;">
<td class="xl69" style="height: 13.05pt;" colspan="6" height="17"></td>
</tr>
<tr style="mso-height-source: userset; height: 21.0pt;">
<td class="xl66" style="height: 21.0pt; border-top: none;" height="28"></td>
<td class="xl66" style="border-top: none; border-left: none;"></td>
<td class="xl66" style="border-top: none; border-left: none;"></td>
<td class="xl66" style="border-top: none; border-left: none;"></td>
<td class="xl66" style="border-top: none; border-left: none;"></td>
<td class="xl66" style="border-top: none; border-left: none;"></td>
</tr>
<tr style="mso-height-source: userset; height: 21.0pt;">
<td class="xl64" style="height: 42.0pt; border-top: none; width: 94pt;" rowspan="2" width="125" height="56"></td>
<td class="xl64" style="border-top: none; border-left: none; width: 94pt;" width="125"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
<td class="xl64" style="border-top: none; border-left: none; width: 94pt;" width="125"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
<td class="xl64" style="border-top: none; border-left: none; width: 94pt;" width="125"></td>
</tr>
<tr style="mso-height-source: userset; height: 21.0pt;">
<td class="xl67" style="height: 21.0pt; border-top: none; border-left: none; width: 94pt;" width="125" height="28"></td>
<td class="xl67" style="border-top: none; border-left: none; width: 94pt;" width="125"></td>
<td class="xl68" style="border-top: none; border-left: none;"></td>
<td class="xl68" style="border-top: none; border-left: none;"></td>
<td class="xl67" style="border-top: none; border-left: none; width: 94pt;" width="125"></td>
</tr>
<tr style="mso-height-source: userset; height: 21.0pt;">
<td class="xl64" style="height: 21.0pt; border-top: none; width: 94pt;" width="125" height="28"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
<td class="xl64" style="border-top: none; border-left: none; width: 94pt;" width="125"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
<td class="xl64" style="border-top: none; border-left: none; width: 94pt;" width="125"></td>
</tr>
<tr style="mso-height-source: userset; height: 21.0pt;">
<td class="xl67" style="height: 21.0pt; border-top: none; width: 94pt;" width="125" height="28"></td>
<td class="xl67" style="border-top: none; border-left: none; width: 94pt;" width="125"></td>
<td class="xl67" style="border-top: none; border-left: none; width: 94pt;" width="125"></td>
<td class="xl68" style="border-top: none; border-left: none;"></td>
<td class="xl68" style="border-top: none; border-left: none;"></td>
<td class="xl68" style="border-top: none; border-left: none;"></td>
</tr>
<tr style="mso-height-source: userset; height: 21.0pt;">
<td class="xl65" style="height: 21.0pt; border-top: none;" height="28"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
</tr>
<tr style="mso-height-source: userset; height: 21.0pt;">
<td class="xl68" style="height: 21.0pt; border-top: none;" height="28"></td>
<td class="xl68" style="border-top: none; border-left: none;"></td>
<td class="xl68" style="border-top: none; border-left: none;"></td>
<td class="xl67" style="border-top: none; border-left: none; width: 94pt;" width="125"></td>
<td class="xl68" style="border-top: none; border-left: none;"></td>
<td class="xl68" style="border-top: none; border-left: none;"></td>
</tr>
<tr style="mso-height-source: userset; height: 21.0pt;">
<td class="xl65" style="height: 21.0pt; border-top: none;" height="28"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
</tr>
<tr style="mso-height-source: userset; height: 13.05pt;">
<td class="xl69" style="height: 13.05pt;" colspan="6" height="17"></td>
</tr>
<tr style="mso-height-source: userset; height: 21.0pt;">
<td class="xl66" style="height: 21.0pt; border-top: none;" height="28"></td>
<td class="xl66" style="border-top: none; border-left: none;"></td>
<td class="xl66" style="border-top: none; border-left: none;"></td>
<td class="xl66" style="border-top: none; border-left: none;"></td>
<td class="xl66" style="border-top: none; border-left: none;"></td>
<td class="xl66" style="border-top: none; border-left: none;"></td>
</tr>
<tr style="mso-height-source: userset; height: 21.0pt;">
<td class="xl64" style="height: 21.0pt; border-top: none; width: 94pt;" width="125" height="28"></td>
<td class="xl64" style="border-top: none; border-left: none; width: 94pt;" width="125"></td>
<td class="xl64" style="border-top: none; border-left: none; width: 94pt;" width="125"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
<td class="xl64" style="border-top: none; border-left: none; width: 94pt;" width="125"></td>
</tr>
<tr style="mso-height-source: userset; height: 21.0pt;">
<td class="xl67" style="height: 21.0pt; border-top: none; width: 94pt;" width="125" height="28"></td>
<td class="xl67" style="border-top: none; border-left: none; width: 94pt;" width="125"></td>
<td class="xl67" style="border-top: none; border-left: none; width: 94pt;" width="125"></td>
<td class="xl68" style="border-top: none; border-left: none;"></td>
<td class="xl68" style="border-top: none; border-left: none;"></td>
<td class="xl68" style="border-top: none; border-left: none;"></td>
</tr>
<tr style="mso-height-source: userset; height: 21.0pt;">
<td class="xl64" style="height: 42.0pt; border-top: none; width: 94pt;" rowspan="2" width="125" height="56"></td>
<td class="xl64" style="border-top: none; border-left: none; width: 94pt;" width="125"></td>
<td class="xl64" style="border-top: none; border-left: none; width: 94pt;" width="125"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
<td class="xl64" style="border-top: none; border-left: none; width: 94pt;" width="125"></td>
</tr>
<tr style="mso-height-source: userset; height: 21.0pt;">
<td class="xl68" style="height: 21.0pt; border-top: none; border-left: none;" height="28"></td>
<td class="xl68" style="border-top: none; border-left: none;"></td>
<td class="xl67" style="border-top: none; border-left: none; width: 94pt;" width="125"></td>
<td class="xl68" style="border-top: none; border-left: none;"></td>
<td class="xl68" style="border-top: none; border-left: none;"></td>
</tr>
<tr style="mso-height-source: userset; height: 21.0pt;">
<td class="xl65" style="height: 21.0pt; border-top: none;" height="28"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
</tr>
<tr style="mso-height-source: userset; height: 13.05pt;">
<td class="xl70" style="height: 13.05pt;" colspan="6" height="17"></td>
</tr>
<tr style="mso-height-source: userset; height: 21.0pt;">
<td class="xl66" style="height: 21.0pt; border-top: none;" height="28"></td>
<td class="xl66" style="border-top: none; border-left: none;"></td>
<td class="xl66" style="border-top: none; border-left: none;"></td>
<td class="xl66" style="border-top: none; border-left: none;"></td>
<td class="xl66" style="border-top: none; border-left: none;"></td>
<td class="xl66" style="border-top: none; border-left: none;"></td>
</tr>
<tr style="mso-height-source: userset; height: 21.0pt;">
<td class="xl64" style="height: 21.0pt; border-top: none; width: 94pt;" width="125" height="28"></td>
<td class="xl64" style="border-top: none; border-left: none; width: 94pt;" width="125"></td>
<td class="xl64" style="border-top: none; border-left: none; width: 94pt;" width="125"></td>
<td class="xl64" style="border-top: none; border-left: none; width: 94pt;" width="125"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
</tr>
<tr style="mso-height-source: userset; height: 21.0pt;">
<td class="xl67" style="height: 21.0pt; border-top: none; width: 94pt;" width="125" height="28"></td>
<td class="xl67" style="border-top: none; border-left: none; width: 94pt;" width="125"></td>
<td class="xl68" style="border-top: none; border-left: none;"></td>
<td class="xl67" style="border-top: none; border-left: none; width: 94pt;" width="125"></td>
<td class="xl68" style="border-top: none; border-left: none;"></td>
<td class="xl67" style="border-top: none; border-left: none; width: 94pt;" width="125"></td>
</tr>
<tr style="mso-height-source: userset; height: 21.0pt;">
<td class="xl64" style="height: 21.0pt; border-top: none; width: 94pt;" width="125" height="28"></td>
<td class="xl64" style="border-top: none; border-left: none; width: 94pt;" width="125"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
<td class="xl64" style="border-top: none; width: 94pt;" rowspan="2" width="125"></td>
</tr>
<tr style="mso-height-source: userset; height: 21.0pt;">
<td class="xl68" style="height: 21.0pt; border-top: none;" height="28"></td>
<td class="xl68" style="border-top: none; border-left: none;"></td>
<td class="xl68" style="border-top: none; border-left: none;"></td>
<td class="xl67" style="border-top: none; border-left: none; width: 94pt;" width="125"></td>
<td class="xl68" style="border-top: none; border-left: none;"></td>
</tr>
<tr style="mso-height-source: userset; height: 21.0pt;">
<td class="xl65" style="height: 21.0pt; border-top: none;" height="28"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
<td class="xl64" style="border-top: none; border-left: none; width: 94pt;" width="125"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
<td class="xl65" style="border-top: none; border-left: none;"></td>
</tr>
<tr style="height: 14.4pt;">
<td class="xl63" style="height: 14.4pt;" height="19"></td>
<td class="xl63"></td>
<td class="xl63"></td>
<td class="xl63"></td>
<td class="xl63"></td>
<td class="xl63"></td>
</tr>
</tbody>
</table>
<p>For More information please contact: 972-491-1916</p>
<p>Email us at: <a href="mailto:accounting@infinitebounds.co">accounting@infinitebounds.co</a></p>
<p>Schedule is subject to change</p>
											</div><!-- .entry-content -->

				</div><!-- #post-## -->



            </div></div></div></div>

        </div><!-- #content -->








	  {% include 'sidebar.html' %}



	</div><!-- #main -->

{% endblock %}
