<title>PHP Getting Started on Heroku</title>
<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="stylesheets/main.css" />

<link rel="stylesheet" type="text/css" media="all" href="stylesheets/font.css" />
<link rel="stylesheet" type="text/css" media="all" href="stylesheets/superfish.css" />

	
<link rel='stylesheet' id='anythingslider-base-css'  href='stylesheets/anythingslider.css?ver=4.6' type='text/css' media='all' />
<script type='text/javascript' src='stylesheets/jquery.js?ver=1.12.4'></script>

<script type='text/javascript' src='stylesheets/jquery.anythingslider.min.js?ver=1.7.26'></script>


		
<!-- Responsive Select CSS 
================================================================ -->
<style type="text/css" id="responsive-select-css">
.responsiveSelectContainer select.responsiveMenuSelect, select.responsiveMenuSelect{
	display:none;
}

@media (max-width: 960px) {
	.responsiveSelectContainer{
		border:none !important;
		background:none !important;
		box-shadow:none !important;
		height:auto !important;
		max-height:none !important;
		visibility:visible !important;
	}
	.responsiveSelectContainer ul, ul.responsiveSelectFullMenu, #megaMenu ul.megaMenu.responsiveSelectFullMenu{
		display: none !important;
	}
	.responsiveSelectContainer select.responsiveMenuSelect, select.responsiveMenuSelect { 
		display: inline-block; 
		width:100%;
	}
}	
</style>