{% extends "layout-inner.html" %}

{% block content %}
	<div id="main">


       <div id="content" role="main">

            <div class="content-bg"><div class="content-top"><div class="content-btm"><div class="content-in">

                <h2 class="entry-title">Homeschool Programs</h2>

            

                



				<div id="post-200" class="post-200 page type-page status-publish hentry">

    

					<div class="entry-content">

						<p><a href="http://infinitebounds.com/wp-content/plugins/really-static/static/camps/gymnastics-2/" rel="attachment wp-att-742"><img class="wp-image-742 alignleft" src="http://infinitebounds.com/wp-content/plugins/really-static/static/wp-content/uploads/2013/12/gymnastics-1024x1016.png" alt="gymnastics" width="229" height="227" srcset="http://infinitebounds.com/wp-content/uploads/2013/12/gymnastics-1024x1016.png 1024w, http://infinitebounds.com/wp-content/uploads/2013/12/gymnastics-150x150.png 150w, http://infinitebounds.com/wp-content/uploads/2013/12/gymnastics-300x297.png 300w, http://infinitebounds.com/wp-content/uploads/2013/12/gymnastics.png 1057w" sizes="(max-width: 229px) 100vw, 229px" /></a>Infinite Bounds has great flexible days and times for those involved in &#8220;home school&#8221; programs!  IB Home School Program offers a Tuesday 1:30 &#8211; 2:30 gymnastics and fun exercise program!  The fee is only $70.00 per student with no membership fees needed.  Ask us about our family package!  We also have an Open Gym time on Thursday from 1:00-2:30 for only $10.00 per student and $5.00 for any additional family member.  Get healthy this 2016 and give us a call or email us to get your group started!</p>
											</div><!-- .entry-content -->

				</div><!-- #post-## -->



            </div></div></div></div>

        </div><!-- #content -->










	  {% include 'sidebar.html' %}



	</div><!-- #main -->

{% endblock %}
