{% extends "layout-inner.html" %}

{% block content %}
	<div id="main">


      <div id="content" role="main">

            <div class="content-bg"><div class="content-top"><div class="content-btm"><div class="content-in">

                <h2 class="entry-title">Impact America Martial Arts</h2>

            

                



				<div id="post-19" class="post-19 page type-page status-publish hentry">

    

					<div class="entry-content">

						<p><a href="images/IAMA-Logo-Huge.png"><img class="size-large wp-image-424 alignnone" alt="IAMA-Logo-Huge" src="images/IAMA-Logo-Huge-1024x277.png" width="640" height="173" srcset="images/IAMA-Logo-Huge-1024x277.png 1024w, images/IAMA-Logo-Huge-300x81.png 300w" sizes="(max-width: 640px) 100vw, 640px" /></a></p>
<p style="text-align: center;"><strong>Impact America Martial Arts</strong> has been located inside of Infinite Bounds Training Center for over 11 years and we HIGHLY recommend this academy for all your children’s martial arts needs. <strong> Impact America Martial Arts</strong> specializes in using martial arts as a tool to Educate and Inspire Kids to have more Discipline, Respect and Self-Control.</p>
<p style="text-align: center;">Check out their website at:  www.impactamericama.com</p>
<p style="text-align: center;">As an Infinite Bounds Family member you can get ½ off their already CRAZY Web Special called the “Quick Start Program”.</p>
<p style="text-align: center;">You will need to enter ‘IBB2S2014’ AT CHECK OUT TO GET THE ½ OFF SPECIAL and this special includes a FREE uniform!</p>
<p style="text-align: center;">Impact America Martial Arts offers classes 6 days per week and starts children as young as 3 years old.</p>
<h1 style="text-align: center;">Impact America Martial Arts</h1>
<p>&nbsp;</p>
<h4><a href="http://www.impactamericama.com/" target="_blank"><span style="text-decoration: underline;">CLICK HERE</span></a> to visit their website.</h4>
<p style="text-align: center;">SHRED FAT and get in the BEST shape of your life at<strong> ilovekickboxingplanotx.com!</strong></p>
<p style="text-align: center;"><strong>Ilovekickboxingplanotx.com</strong> is locate INSIDE Impact America Martial Arts!</p>
<p style="text-align: center;">Students report burning 700-1000 calories per one hour workout.  The BEST part of our kickboxing program is that we offer over 24 classes per week…..our program is completely unlimited!!!</p>
<p style="text-align: center;">Sign up TODAY and get a FREE PAIR OF BOXING GLOVES!!</p>
<p><a href="http://infinitebounds.com/wp-content/plugins/really-static/static/wp-content/uploads/2014/01/ILKB-Logo.jpg"><img class="size-medium wp-image-99799 aligncenter" alt="ILKB Logo" src="http://infinitebounds.com/wp-content/plugins/really-static/static/wp-content/uploads/2014/01/ILKB-Logo-300x192.jpg" width="300" height="192" srcset="http://infinitebounds.com/wp-content/uploads/2014/01/ILKB-Logo-300x192.jpg 300w, http://infinitebounds.com/wp-content/uploads/2014/01/ILKB-Logo-1024x655.jpg 1024w" sizes="(max-width: 300px) 100vw, 300px" /></a></p>
<p>&nbsp;</p>
											</div><!-- .entry-content -->

				</div><!-- #post-## -->



            </div></div></div></div>

        </div><!-- #content -->





	  {% include 'sidebar.html' %}



	</div><!-- #main -->

{% endblock %}
