{% extends "layout-inner.html" %}

{% block content %}
	<div id="main">


       <div id="content" role="main">

            <div class="content-bg"><div class="content-top"><div class="content-btm"><div class="content-in">

                <h2 class="entry-title">Jump for Fun</h2>

            

                



				<div id="post-201" class="post-201 page type-page status-publish hentry">

    

					<div class="entry-content">

						<p><a href="images/Jump-for-fun.png"><img class="size-medium wp-image-547 alignright" src="images/Jump-for-fun-300x200.png" alt="Jump-for-fun" width="246" height="164" srcset="http://infinitebounds.com/wp-content/uploads/2013/10/Jump-for-fun-300x200.png 300w, http://infinitebounds.com/wp-content/uploads/2013/10/Jump-for-fun.png 621w" sizes="(max-width: 246px) 100vw, 246px" /></a>Come get your jump on!!</p>
<p>7:00-10:00<br />
Ages 6-15</p>
<p>$15.00 (7:00-10:00)<br />
$5.00 for early drop off (6:30 pm)</p>
<p>Please be on time for pick up</p>
<h1>JFF &#8211; Open Gym</h1>
<p>Certified Instructors to teach you new skills!</p>
<p>Due to the popularity of our Open Gym, walk-in guests are not guaranteed a space due to the safety of the children.</p>
<p>Reservations strongly recommended<br />
972~491~1916</p>
<p>S.E. Area of Preston &amp; Park</p>
<p>Preston Park Blvd runs parallel between<br />
Preston &amp; Ohio behind Katy&#8217;s Burgers.</p>
<p><a href="images/GuestWaiver.pdf" target="_blank"><strong>&gt;&gt;&gt;&gt;You need a waiver signed when coming in so CLICK TO DOWNLOAD A WAIVER HERE&gt;&gt;&gt;&gt;</strong></a></p>
<p>For More information please contact: 972-491-1916<br />
or Email us at: <a href="mailto:accounting@infinitebounds.co">accounting@infinitebounds.co</a></p>
<p>Schedule is subject to change</p>
											</div><!-- .entry-content -->

				</div><!-- #post-## -->



            </div></div></div></div>

        </div><!-- #content -->



	  {% include 'sidebar.html' %}



	</div><!-- #main -->

{% endblock %}
