{% extends "layout-inner.html" %}

{% block content %}
	<div id="main">


      <div id="content" role="main">

            <div class="content-bg"><div class="content-top"><div class="content-btm"><div class="content-in">

                <h2 class="entry-title">Preschool Activities</h2>

            

                



				<div id="post-17" class="post-17 page type-page status-publish hentry">

    

					<div class="entry-content">

						<h2><a href="images/Preschool-Slider.png"><img class="wp-image-393 alignright" alt="Preschool-Slider" src="images/Preschool-Slider.png" width="334" height="170" srcset="images/Preschool-Slider.png 531w, images/Preschool-Slider-300x152.png 300w" sizes="(max-width: 334px) 100vw, 334px" /></a></h2>
<h2></h2>
<h2></h2>
<h2></h2>
<h2></h2>
<h2></h2>
<h2>&#8220;Creating The Well-Rounded Child&#8221;</h2>
<p>From the largest year-round climate controlled playground to our competitive Academic curriculum with age-appropriate readiness skills, Creative Play and of course Gymnastics! All the above is included in your monthly tuition. No extra costs or hidden charges. Serving Plano for a proud 20 years and making memories every year!  We are offering our program on Tuesday, Wednesday and Thursday at this time.</p>
<h1>Room for Preschool Activities</h1>
<p><a href="images/DSC_0172.jpg"><img class="alignnone size-medium wp-image-534" alt="DSC_0172" src="images/DSC_0172-300x200.jpg" width="195" height="130" srcset="images/DSC_0172-300x200.jpg 300w, images/DSC_0172.jpg 800w" sizes="(max-width: 195px) 100vw, 195px" /></a></p>
<p><a href="http://infinitebounds.com/wp-content/plugins/really-static/static/forms">&gt;&gt;&gt;CLICK HERE</a> to download the registration form.</p>
<h4><a href="http://infinitebounds.com/wp-content/plugins/really-static/static/schedule">&gt;&gt;&gt;CLICK HERE</a> to view the class schedule.</h4>
<p>For More information please contact: 972-491-1916<br />
or Email us at: <a href="mailto:accounting@infinitebounds.co">accounting@infinitebounds.co</a></p>
											</div><!-- .entry-content -->

				</div><!-- #post-## -->



            </div></div></div></div>

        </div><!-- #content -->










	  {% include 'sidebar.html' %}



	</div><!-- #main -->

{% endblock %}
