{% extends "layout-inner.html" %}

{% block content %}
<script>
var gslug='rhythmic';
</script>
	<div id="main">


          <div id="content" role="main">

            <div class="content-bg"><div class="content-top"><div class="content-btm"><div class="content-in">

                <h2 class="entry-title">Rhythmic</h2>

            

                



				<div id="post-18" class="post-18 page type-page status-publish hentry">

    

					<div class="entry-content" id="content_data">

						<p style="text-align: center;"><a href="http://infinitebounds.com/wp-content/plugins/really-static/static/rhythmic/rhythmic-gymnastics/" rel="attachment wp-att-100250"><img class="wp-image-100250 aligncenter" src="images/Rhythmic-Gymnastics-663x1024.jpg" alt="Rhythmic Gymnastics" width="284" height="439" srcset="images/Rhythmic-Gymnastics-663x1024.jpg 663w, images/Rhythmic-Gymnastics-194x300.jpg 194w, images/Rhythmic-Gymnastics-768x1187.jpg 768w, images/Rhythmic-Gymnastics.jpg 825w" sizes="(max-width: 284px) 100vw, 284px" /></a><strong>To register, go to the &#8220;forms&#8221; section of our website.</strong></p>
<p style="text-align: center;"><a href="http://infinitebounds.com/wp-content/plugins/really-static/static/rhythmic/rhythmic-gymnastics2/" rel="attachment wp-att-100252"><img class="alignnone size-large wp-image-100252" src="images/Rhythmic-Gymnastics2-1024x791.jpg" alt="Rhythmic Gymnastics2" width="640" height="494" srcset="images/Rhythmic-Gymnastics2-1024x791.jpg 1024w, images/Rhythmic-Gymnastics2-300x232.jpg 300w, images/Rhythmic-Gymnastics2-768x593.jpg 768w" sizes="(max-width: 640px) 100vw, 640px" /></a></p>
											</div><!-- .entry-content -->

				</div><!-- #post-## -->



            </div></div></div></div>

        </div><!-- #content -->






	  {% include 'sidebar.html' %}



	</div><!-- #main -->

{% endblock %}
