{% extends "layout-inner.html" %}

{% block content %}
<script>
var gslug='class-schedule';
</script>
	<div id="main">


        <div id="content" class="onecolumn">

            <div class="content-bg"><div class="content-top"><div class="content-btm"><div class="content-in">

                <h1 class="entry-title">Class Schedule</h1>

                

				



				<div id="post-7" class="post-7 page type-page status-publish hentry">

    

					<div class="entry-content" id="content">
											</div><!-- .entry-content -->

				</div><!-- #post-## -->



            </div></div></div></div>

        </div><!-- #content -->







	  {% include 'sidebar.html' %}



	</div><!-- #main -->

{% endblock %}
