<div id="sidebar">

        	<div class="secondary-sidebar">

		<div id="widget_data">	<div id="text-6" class="widget-container widget_text"><h3 class="widget-title">SIGN IN &#038; GET A FREE CLASS TODAY!</h3>			<div class="textwidget"><div role="form" class="wpcf7" id="wpcf7-f4-o1" dir="ltr">
<div class="screen-reader-response" id="msg"></div>
<form action="http://infinitebound.cosmicapp.co/" method="get" class="wpcf7-form11">
<div class="receive">Sign in & we will get you started! <span></span></div>
<div class="input-field"><span class="wpcf7-form-control-wrap text-10">
<input type="text" required="required" name="name" placeholder="NAME" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" /></span></div>
<div class="input-field"><span class="wpcf7-form-control-wrap text-11">
<input type="text" name="phone" required="required" placeholder="PHONE" size="40" class="wpcf7-form-control wpcf7-text" aria-invalid="false" /></span></div>

<div class="input-field"><span class="wpcf7-form-control-wrap email-779">

<input type="email" name="email" required="required" placeholder="EMAIL" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-email" aria-invalid="false" /></span></div>


<div class="input-submit"><input type="submit" name="submit" value="SUBMIT" class="wpcf7-form-control wpcf7-submit" /></div>
<div class="wpcf7-response-output wpcf7-display-none"></div></form></div></div>
		</div>
		
		
	       
        </div>
        
        
        </div>

            

        	<div class="primary-sidebar">

			                        </div>

		</div><!-- #sidebar -->
        
        
        <script>

var config = {};
config.bucket = {
  slug: 'infinitebound',
  read_key: 'DurWsN72RuS5Jd2AExOdvqVDQNGv1jBY0aHexPvXCjiNhwqFUL', // add read_key if added to your Cosmic JS bucket settings
  write_key: '8u5THNrcyi4lWoYPsV67HkAShlyWdAEuSPS30gZiZJjTJn7BUa' // add write_key if added to your Cosmic JS bucket settings
},
config.object= {
      slug: 'sidebar-sections'
    };


  Cosmic.getObjectType(config, config.object, function(err, res) {
  var data = res.objects;
  console.log(data);
 for(var i=0;i<=data.length;i++)
 	{
	var elem = '<div class="widget-container widget_text"><h3>'+ data[i].title + '</h3><div class="textwidget" id="widget-1">'+ data[i].content+'</div></div>';
	var curr = document.getElementById("widget_data").innerHTML;
	var newcurr = curr+elem;
	document.getElementById("widget_data").innerHTML=newcurr;
	 }

  
 
  });
</script>
		
	
	