{% extends "layout-inner.html" %}

{% block content %}
	<div id="main">


        <div id="content" role="main">

            <div class="content-bg"><div class="content-top"><div class="content-btm"><div class="content-in">

                <h2 class="entry-title">Tumbling Classes</h2>

            

                



				<div id="post-149" class="post-149 page type-page status-publish hentry">

    

					<div class="entry-content">

						<h1><a href="images/tumbling2.png"><img class="size-medium wp-image-555 alignright" alt="tumbling2" src="images/tumbling2-231x300.png" width="178" height="232" /></a>Tumbling program:</h1>
<p>Want to learn the basics to advanced tumbling? IB is proud to announce that our tumbling program we offer is one of the top programs in the Dallas area. Tumblers come all over the Dallas area to be trained by our top coaches. IB offers all tumbling levels from forward rolls and cartwheels to the most complex advanced tumbling routines. You fit anywhere in this program. Cheerleading skills and jumps along with required tumbling passes are also trained in IB’s tumbling program.</p>
<h2>Power Tumbling:</h2>
<p>All classes are one hour and include a warm-up along with a stretching session.  Each tumbler will learn basic to advanced tumbling skills on floor/ trampoline/ double mini/ tumble tramp and air track.</p>
<h3>Back handspring/Back flip:</h3>
<p>Just want to train a backhandspring or a back flip for cheer? Ask for a back flip program when signing up.</p>
<h4><a href="http://infinitebounds.com/wp-content/plugins/really-static/static/forms">&gt;&gt;&gt;CLICK HERE</a> to download the registration form.<a href="images/tumbling1.png"><img class="size-medium wp-image-557 alignright" alt="tumbling1" src="images/tumbling1-231x300.png" width="136" height="177" srcset="images/tumbling1-231x300.png 231w, images/tumbling1-791x1024.png 791w, images/tumbling1.png 1275w" sizes="(max-width: 136px) 100vw, 136px" /></a></h4>
<h4><a href="http://infinitebounds.com/wp-content/plugins/really-static/static/schedule">&gt;&gt;&gt;CLICK HERE</a> to view the class schedule.</h4>
<p>For More information please contact: 972-491-1916<br />
or Email us at: <a href="mailto:accounting@infinitebounds.co">accounting@infinitebounds.co</a></p>
											</div><!-- .entry-content -->

				</div><!-- #post-## -->



            </div></div></div></div>

        </div><!-- #content -->






	  {% include 'sidebar.html' %}



	</div><!-- #main -->

{% endblock %}
